<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Top 10 Noticias de Hacker News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ej4.css') }}">
</head>
<body>
    <h1>Top 10 Noticias de Hacker News</h1>
    <ul>
        {% for story in stories %}
            <li>
                {% if story.url %}
                    <a href="{{ story.url }}" target="_blank">{{ story.title }}</a>
                {% else %}
                    {{ story.title }} (sin enlace)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <br><br>
    <a href="{{ url_for('profile') }}"><button>Volver al Perfil</button></a>
</body>
</html>
